		body {
			overflow-x: hidden;
		}
		.navbar .nav-link {
			font-size: 16px;
			text-transform: uppercase;
			padding-left: 1rem !important;
			padding-right: 1rem !important;
		}
		.nav-link{
			text-decoration: none;
	
		}
		.transparent{
			background-color: rgba(255,255, 255,0.2);
			background-color: hsla(0, 0%, 10%,0.2);
		}

		.navbar .nav-item.active {
			border-left: #444 3px solid;
		}

		.carousel-item{
			height:450px;


		}
		.carousel-image-1{
			background:url('../img/c2.jpg');
			background-size:cover;

		}
		.carousel-image-2{
			background:url('../img/c17.jpg');
			background-size:cover;
		}
		.carousel-image-3{
			background:url('../img/c5.jpg');
			background-size:cover;
		}
		#home-heading {
			position: relative;
			min-height: 200px;
			background: url('../img/c27.jpg');
			background-attachment: fixed;
			background-repeat: no-repeat;
			text-align: center;
			color: #fff;
			background-size:cover;
		}

		#box{

			position: relative;
			min-height: 100px;
			background:url('../img/b2.jpg');
			background-attachment: fixed;
			background-repeat: no-repeat;
			text-align: center;
			color: #fff;
			text-decoration: none;
			background-size:cover;
		}
		#des{
			text-decoration: none;
		}

		#des1{
			font-size: 40px;
		}
		

		.dark-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
		}
		.dark-box{
			background: rgba(0, 0, 0, 0.7);
		}

		#video-play {
			position: relative;
			min-height: 200px;
			background: url('../img/b2.jpg');
			background-attachment: fixed;
			background-repeat: no-repeat;
			text-align: center;
			color: #fff;
			background-size:cover;
			/*  background-position: 0 -300px;*/

		}

		#video-play a {
			color: #fff;
		}
		#main-footer {
			background: #000;
			color: #fff;
		}


		#page-header{
			height:300px;
			background-image:url(../img/c22.jpg);
			background-position:0 300px;
			background-attachment: fixed;
			color:yellow;
		    border-bottom: 1px #eee solid;
		    padding-top:100px;
		    background-size: cover;

		}
		.about-img {
			margin-top: -50px;
		}
		.join{
			text-decoration:none;
			size: 30px;
			color:#EE5A5A;
		}


